server/connector/src/main/resources/wsdl/IF14_1_Scm/scmConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://sky.ws.de.nttdata.com/if141/ScmConnector/1.0"
                  targetNamespace="http://sky.ws.de.nttdata.com/if141/ScmConnector/1.0"
                  name="ScmConnector">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://sky.ws.de.nttdata.com/if141/ScmConnector/1.0"
                   targetNamespace="http://sky.ws.de.nttdata.com/if141/ScmConnector/1.0" version="1.0"  elementFormDefault="unqualified">

            <xs:element name="pushNewQuestionToAgentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MxLogin" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerId" type="xs:string"/>
                        <xs:element minOccurs="0" name="HtmlContent" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="pushNewQuestionToAgentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ErrorCode" type="xs:int"/>
                        <xs:element name="ErrorMsg" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="MsgPushNewQuestionToAgentRequest">
        <wsdl:part name="pushNewQuestionToAgentRequest" element="tns:pushNewQuestionToAgentRequest"/>
    </wsdl:message>

    <wsdl:message name="MsgPushNewQuestionToAgentResponse">
        <wsdl:part name="pushNewQuestionToAgentResponse" element="tns:pushNewQuestionToAgentResponse"/>
    </wsdl:message>


    <wsdl:portType name="PortType">
        <wsdl:operation name="pushNewQuestionToAgent">
            <wsdl:input message="tns:MsgPushNewQuestionToAgentRequest" name="pushNewQuestionToAgentRequest">
            </wsdl:input>
            <wsdl:output message="tns:MsgPushNewQuestionToAgentResponse" name="pushNewQuestionToAgentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ScmConnectorBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="pushNewQuestionToAgent">
            <soap:operation style="document" soapAction="pushNewQuestionToAgent"/>
            <wsdl:input >
                <soap:body use="literal" parts="pushNewQuestionToAgentRequest"/>
            </wsdl:input>
            <wsdl:output >
                <soap:body use="literal" parts="pushNewQuestionToAgentResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ScmConnector">
        <wsdl:port name="ScmConnectorPort" binding="tns:ScmConnectorBinding">
            <soap:address location="http://int.mediatrix.sky.de:8080/contex-ws/scmConnector"/>
            <soap:address location="http://mediatrix.sky.de:8080/contex-ws/scmConnector" />
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>