server/connector/src/main/resources/wsdl/IF4_Siebel/SiebelService_v10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.sky.de/integration/web/SiebelService/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.sky.de/integration/web/SiebelService/1.0">
    <wsdl:types>
        <xs:schema xmlns:ns1="http://www.sky.de/integration/web/SiebelService/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sky.de/integration/web/SiebelService/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Fault_Type">
                <xs:sequence>
                    <xs:element name="ErrorCode" type="xs:string"/>
                    <xs:element name="ErrorDesc" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Flag_type">
                <xs:restriction base="xs:string">
                    <xs:length value="1"/>
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ProcessAttributesType">
                <xs:sequence>
                    <xs:element name="attribute" type="ns1:attribute_Type" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Status_Type">
                <xs:restriction base="xs:string">
                    <xs:length value="2"/>
                    <xs:enumeration value="OK"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="adjustSRRequest_Type">
                <xs:sequence>
                    <xs:element name="DocumentId" type="xs:string"/>
                    <xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
                    <xs:element name="Direction" type="xs:string" minOccurs="0"/>
                    <xs:element name="Channel" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContactId" type="xs:string"/>
                    <xs:element name="CustomerIdNew" type="xs:string"/>
                    <xs:element name="ContractIdNew" type="xs:string" minOccurs="0"/>
                    <xs:element name="MandateRefId" type="xs:string" minOccurs="0"/>
                    <xs:element name="SignatureDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="SignatureFlag" type="ns1:Flag_type" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="adjustSRResponse_Type">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:Status_Type"/>
                    <xs:element name="DocumentId" type="xs:string"/>
                    <xs:element name="ContactIdNew" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="associateDocumentIdRequest_Type">
                <xs:sequence>
                    <xs:element name="CorrelationId" type="xs:string"/>
                    <xs:element name="DocumentId" type="xs:string"/>
                    <xs:element name="UseCaseId" type="xs:string"/>
                    <xs:element name="ActivityId" type="xs:string"/>
                    <xs:element name="Channel" type="xs:string"/>
                    <xs:element name="Direction" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="associateDocumentIdResponse_Type">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:Status_Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="attribute_Type">
                <xs:sequence>
                    <xs:element name="key" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createContactRequest_Type">
                <xs:sequence>
                    <xs:element name="CorrelationId" type="xs:string"/>
                    <xs:element name="DocumentId" type="xs:string"/>
                    <xs:element name="UseCaseId" type="xs:string" minOccurs="0"/>
                    <xs:element name="Channel" type="xs:string"/>
                    <xs:element name="Direction" type="xs:string" minOccurs="0"/>
                    <xs:element name="CustomerId" type="xs:string"/>
                    <xs:element name="ContractId" type="xs:string" minOccurs="0"/>
                    <xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
                    <xs:element name="MandateRefId" type="xs:string" minOccurs="0"/>
                    <xs:element name="SignatureDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="SignatureFlag" type="ns1:Flag_type" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createContactResponse_Type">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:Status_Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createTrackingSRRequest_Type">
                <xs:sequence>
                    <xs:element name="CorrelationId" type="xs:string"/>
                    <xs:element name="DocumentId" type="xs:string"/>
                    <xs:element name="UseCaseId" type="xs:string"/>
                    <xs:element name="CustomerId" type="xs:string"/>
                    <xs:element name="ContactId" type="xs:string"/>
                    <xs:element name="ContractId" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createTrackingSRResponse_Type">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:Status_Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="triggerSRQuickActionRequest_Type">
                <xs:sequence>
                    <xs:element name="ContactId" type="xs:string"/>
                    <xs:element name="CustomerId" type="xs:string"/>
                    <xs:element name="ContractId" type="xs:string" minOccurs="0"/>
                    <xs:element name="CorrelationId" type="xs:string"/>
                    <xs:element name="UseCaseId" type="xs:string"/>
                    <xs:element name="ServiceRequestId" type="xs:string"/>
                    <xs:element name="Process" type="xs:string"/>
                    <xs:element name="ProcessAttributes" type="ns1:ProcessAttributesType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="triggerSRQuickActionResponse_Type">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:Status_Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Fault" type="ns1:Fault_Type"/>
            <xs:element name="adjustSRRequest" type="ns1:adjustSRRequest_Type"/>
            <xs:element name="adjustSRResponse" type="ns1:adjustSRResponse_Type"/>
            <xs:element name="associateDocumentIdRequest" type="ns1:associateDocumentIdRequest_Type"/>
            <xs:element name="associateDocumentIdResponse" type="ns1:associateDocumentIdResponse_Type"/>
            <xs:element name="createContactRequest" type="ns1:createContactRequest_Type"/>
            <xs:element name="createContactResponse" type="ns1:createContactResponse_Type"/>
            <xs:element name="createTrackingSRRequest" type="ns1:createTrackingSRRequest_Type"/>
            <xs:element name="createTrackingSRResponse" type="ns1:createTrackingSRResponse_Type"/>
            <xs:element name="triggerSRQuickActionRequest" type="ns1:triggerSRQuickActionRequest_Type"/>
            <xs:element name="triggerSRQuickActionResponse" type="ns1:triggerSRQuickActionResponse_Type"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SiebelService">
        <wsdl:port name="SiebelServiceEndpoint" binding="tns:SiebelServiceEndpointBinding">
            <soap:address location="http://localhost:13200/BusinessService/SiebelService"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="triggerSRQuickAction">
            <wsdl:input message="tns:MsgTriggerSRQuickActionRequest"/>
            <wsdl:output message="tns:MsgTriggerSRQuickActionResponse"/>
            <wsdl:fault name="fault1" message="tns:MsgFault"/>
        </wsdl:operation>
        <wsdl:operation name="adjustSR">
            <wsdl:input message="tns:MsgAdjustSRRequest"/>
            <wsdl:output message="tns:MsgAdjustSRResponse"/>
            <wsdl:fault name="fault1" message="tns:MsgFault"/>
        </wsdl:operation>
        <wsdl:operation name="associateDocumentId">
            <wsdl:input message="tns:MsgAssociateDocumentIdRequest"/>
            <wsdl:output message="tns:MsgAssociateDocumentIdResponse"/>
            <wsdl:fault name="fault1" message="tns:MsgFault"/>
        </wsdl:operation>
        <wsdl:operation name="createContact">
            <wsdl:input message="tns:MsgCreateContactRequest"/>
            <wsdl:output message="tns:MsgCreateContactResponse"/>
            <wsdl:fault name="fault1" message="tns:MsgFault"/>
        </wsdl:operation>
        <wsdl:operation name="createTrackingSR">
            <wsdl:input message="tns:MsgCreateTrackingSRRequest"/>
            <wsdl:output message="tns:MsgCreateTrackingSRResponse"/>
            <wsdl:fault name="fault1" message="tns:MsgFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SiebelServiceEndpointBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="triggerSRQuickAction">
            <soap:operation style="document" soapAction="triggerSRQuickAction"/>
            <wsdl:input>
                <soap:body use="literal" parts="triggerSRQuickActionRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="triggerSRQuickActionResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="adjustSR">
            <soap:operation style="document" soapAction="adjustSR"/>
            <wsdl:input>
                <soap:body use="literal" parts="adjustSRRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="adjustSRResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associateDocumentId">
            <soap:operation style="document" soapAction="associateDocumentId"/>
            <wsdl:input>
                <soap:body use="literal" parts="associateDocumentIdRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="associateDocumentIdResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createContact">
            <soap:operation style="document" soapAction="createContact"/>
            <wsdl:input>
                <soap:body use="literal" parts="createContactRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="createContactResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createTrackingSR">
            <soap:operation style="document" soapAction="createTrackingSR"/>
            <wsdl:input>
                <soap:body use="literal" parts="createTrackingSRRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="createTrackingSRResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="MsgTriggerSRQuickActionRequest">
        <wsdl:part name="triggerSRQuickActionRequest" element="tns:triggerSRQuickActionRequest"/>
    </wsdl:message>
    <wsdl:message name="MsgTriggerSRQuickActionResponse">
        <wsdl:part name="triggerSRQuickActionResponse" element="tns:triggerSRQuickActionResponse"/>
    </wsdl:message>
    <wsdl:message name="MsgFault">
        <wsdl:part name="Fault" element="tns:Fault"/>
    </wsdl:message>
    <wsdl:message name="MsgAdjustSRRequest">
        <wsdl:part name="adjustSRRequest" element="tns:adjustSRRequest"/>
    </wsdl:message>
    <wsdl:message name="MsgAdjustSRResponse">
        <wsdl:part name="adjustSRResponse" element="tns:adjustSRResponse"/>
    </wsdl:message>
    <wsdl:message name="MsgAssociateDocumentIdRequest">
        <wsdl:part name="associateDocumentIdRequest" element="tns:associateDocumentIdRequest"/>
    </wsdl:message>
    <wsdl:message name="MsgAssociateDocumentIdResponse">
        <wsdl:part name="associateDocumentIdResponse" element="tns:associateDocumentIdResponse"/>
    </wsdl:message>
    <wsdl:message name="MsgCreateContactRequest">
        <wsdl:part name="createContactRequest" element="tns:createContactRequest"/>
    </wsdl:message>
    <wsdl:message name="MsgCreateContactResponse">
        <wsdl:part name="createContactResponse" element="tns:createContactResponse"/>
    </wsdl:message>
    <wsdl:message name="MsgCreateTrackingSRRequest">
        <wsdl:part name="createTrackingSRRequest" element="tns:createTrackingSRRequest"/>
    </wsdl:message>
    <wsdl:message name="MsgCreateTrackingSRResponse">
        <wsdl:part name="createTrackingSRResponse" element="tns:createTrackingSRResponse"/>
    </wsdl:message>
</wsdl:definitions>